@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
body.page-transition {
    overflow: hidden;
}

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.fade-leave {
    opacity: 1;
}

.fade-leave-active {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

/* Additional transitions can be added here */
